/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-May-2016, 4:56:39 PM
    Author     : gongw
*/
.btn-min-width {
    min-width: 100px
}
.vertical-margin {
    margin-bottom: 5px;
    margin-top: 5px
}
.horizontal-margin {
    margin-left: 5px;
    margin-right: 5px
}
.content-center {
    align-content: center
}
.no-padding {
    padding: 0px
}
.no-margin {
    margin: 0px
}
.error    { color: red }
.distinct { color: blue } 

/* GRAPHICS LORT QUEEN Section 

    Property Order
    -------------
    Position
    Display & Box Model
    Color
    Text
    Other
*/

/* Login.php */

h1 {
    text-align: center;
}

.wrapper { 
    display: block;
    width: 80%;
    margin: 0 auto;
}

.dataEntryContainer {
    width: 30%;
}

.dataEntryContainer span {
    font-weight: bold;
}

input[type=text], .formButtons {
    float: right;
}

.formButtons {
    margin-top: 10px;
}

.formButtons input { 
    border: none;
    border-radius: 3px;
    padding: 5px 20px;

    color: white;
    background: #5555AA;

    font-size: 1.3em;
}
