/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-May-2016, 4:56:39 PM
    Author     : gongw
*/
.btn-min-width {
    min-width: 100px
}
.vertical-margin {
    margin-bottom: 5px;
    margin-top: 5px
}
.horizontal-margin {
    margin-left: 5px;
    margin-right: 5px
}
.content-center {
    align-content: center
}
.no-padding {
    padding: 0px
}
.no-margin {
    margin: 0px
}
.error    { color: red }
.distinct { color: blue } 

/* GRAPHICS LORT QUEEN Section 

    Property Order
    -------------
    Position
    Display & Box Model
    Color
    Text
    Other
*/

/* Index.php */

.thingsToDoIndex li {
    list-style: square;
}

/* Login.php */
input[name=btnLogin] {
    margin-right: 5px;
}

.incorrectInfo p {
    color: red;
}

/* MyPictures.php */
.selectedPicture {
    position: relative;
    border: 1px solid black;
    height: auto;
}

.thePicture {
    position: relative;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-content: center;
}

.descriptionSection, .commentSection, .leaveCommentSection {
    border: 1px solid black;
    height: auto;
    overflow: auto;
}

.descriptionSection {max-height: 150px;}
.commentSection {max-height: 250px;}
.leaveCommentSection {
    border: none;
    height: 125px;
}
.leaveCommentSection textarea {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.addCommentSection {}
.addCommentSection input {
    margin-top: 4%;
}

.filmStrip {
    display: flex;
    overflow: auto;
    padding: 0;
}

.filmStrip .item {
    border: 1px solid black;
    display: flex;
    width: 100%;
}

.filmStrip .item.selectedThumbnail {
    border: 1px solid blue;
}

/* Faizan's CSS Section*/
.ml-10px {
    margin-left: 10px;
}